# Capstone Project - IBM Data Science by Coursera

## Week 3, Part 1

#### 1. Installations

In [201]:
%%capture

%pip install --upgrade pip
%pip install bs4

In [202]:
print("All libraries have been installed.")

All libraries have been installed.

#### 2. Imports

In [203]:
# Handeling requests
import requests

# Parsing HTML and XML documents
from bs4 import BeautifulSoup

#### 3. Extract data, and convert to dataframe

In [204]:
# Send 'get' request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

# Parse HTML data into BeautifulSoup object
soup = BeautifulSoup(data, 'html.parser')

# Create 3 empty lists, ready for storing table data
postcodes     = []
boroughs      = []
neighbourhoods = []

# Locate table
soup.find('table').find_all('tr')

# Locate all table rows
soup.find('table').find_all('tr')

# For each row of table, find all table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    
# Append data to corresponding lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postcodes.append(cells[0].text.rstrip('\n'))
        boroughs.append(cells[1].text.rstrip('\n'))
        neighbourhoods.append(cells[2].text.rstrip('\n'))
        
# Create new DataFrame from the 3 lists
toronto_df = pd.DataFrame({"Postcode"     : postcodes,
                           "Borough"      : boroughs,
                           "Neighbourhood" : neighbourhoods
                          })
toronto_df.head()

  Postcode           Borough              Neighbourhood
0      M1A      Not assigned               Not assigned
1      M2A      Not assigned               Not assigned
2      M3A        North York                  Parkwoods
3      M4A        North York           Victoria Village
4      M5A  Downtown Toronto  Regent Park, Harbourfront

#### 4. Remove any rows where borough is 'Not assigned'

In [209]:
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  Postcode           Borough                                Neighbourhood
0      M3A        North York                                    Parkwoods
1      M4A        North York                             Victoria Village
2      M5A  Downtown Toronto                    Regent Park, Harbourfront
3      M6A        North York             Lawrence Manor, Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### 5. Group neighborhoods by borough

In [211]:
toronto_df_grouped = toronto_df_dropna.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### 6. Replace any 'Not assigned' neighborhood values with corresponding borough values

In [212]:
toronto_df_grouped.loc[toronto_df_grouped['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = toronto_df_grouped['Borough']

#### 7. Create required dataframe

In [215]:
column_names = ["Postcode", "Borough", "Neighbourhood"]

required_df = pd.DataFrame(columns=column_names)

required_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    required_df = required_df.append(toronto_df_grouped[toronto_df_grouped["Postcode"]==postcode], ignore_index=True)
    
required_df

,Postcode,Borough,Neighbourhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

#### 8. Print dataframe Shape

In [216]:
toronto_df_grouped.shape

(103, 3)